
'.source.harbour':
  'if … else … end':
    'prefix': 'ife'
    'body': 'IF ${1:condition}\n\t$2\nELSE\n\t$3\nENDIIF'
  'if … end':
    'prefix': 'if'
    'body': 'IF ${1:condition}\n\t$0\nENDIF'
  'case … end':
    'prefix': 'case'
    'body': 'DO CASE'\n'CASE $(1:condition}\n$0\nCASE ${2:condition}\n$1\nOTHERWISE\n$3ENDCASE'
  'f18 header':
    'prefix': 'f18head'
    'body': '/*\n * This file is part of the bring.out knowhow ERP, a free and open source\n * Enterprise Resource Planning software suite,\n * Copyright (c) 1994-2011 by bring.out doo Sarajevo.\n * It is licensed to you under the Common Public Attribution License\n * version 1.0, the full text of which (including FMK specific Exhibits)\n * is available in the file LICENSE_CPAL_bring.out_knowhow.md located at the\n * root directory of this source code archive.\n * By using this software, you agree to be bound by its terms.\n */\n\n#include "fmk.ch"\n\n'


